<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>@TOMAHAWK_APPLICATION_NAME@</string>
	<key>CFBundleIdentifier</key>
	<string>@TOMAHAWK_APPLICATION_PACKAGE_NAME@</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleVersion</key>
	<string>@TOMAHAWK_VERSION@</string>
	<key>CFBundleShortVersionString</key>
	<string>@TOMAHAWK_VERSION@</string>
	<key>CFBundleSignature</key>
	<string>@TOMAHAWK_BASE_TARGET_NAME@</string>
	<key>CFBundleIconFile</key>
	<string>@TOMAHAWK_APPLICATION_NAME@.icns</string>
	<key>CFBundleName</key>
	<string>@TOMAHAWK_APPLICATION_NAME@</string>
	<key>LSMinimumSystemVersion</key>
	<string>10.7.0</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>NSHighResolutionCapable</key>
	<true />
	<key>SUFeedURL</key>
	<string>@TOMAHAWK_SPARKLE_UPDATE_URL@</string>
	<key>SUPublicDSAKeyFile</key>
	<string>sparkle_pub.pem</string>
	<key>SUEnableSystemProfiling</key>
	<true/>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>Tomahawk URL</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>tomahawk</string>
			</array>
		</dict>
	</array>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>xspf</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>Generic.icns</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>application/xspf+xml</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>XSPF Playlist</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>jspf</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>Generic.icns</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>application/jspf</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>JSPF Playlist</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>mp3</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>mp3.icns</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>audio/mpeg</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>MPEG Audio Layer 3</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>oga</string>
				<string>ogg</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>ogg.icns</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>audio/ogg</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Ogg Audio File</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>opus</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>ogg.icns</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>audio/opus</string>
				<string>application/opus</string>
				<string>audio/ogg; codecs=opus</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>OPUS file</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>aac</string>
				<string>mp4</string>
				<string>m4a</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>audio.icns</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>audio/aac</string>
				<string>audio/mp4</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>AAC file</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>mpc</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>audio.icns</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>audio/x-musepack</string>
				<string>audio/mpc</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Musepack Audio File</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>wma</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>audio.icns</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>audio/x-ms-wma</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Windows Media Audio</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>flac</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>audio.icns</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>audio/flac</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>FLAC Audio File</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>aiff</string>
				<string>aif</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>audio.icns</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>audio/aiff</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>AIFF File</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>wv</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>audio.icns</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>audio/x-wavpack</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>WavePack Audio File</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
	</array>
</dict>
</plist>
