<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>Tomahawk</string>
	<key>CFBundleIdentifier</key>
	<string>org.tomahawk-player.Tomahawk</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleVersion</key>
	<string>TOMAHAWK_VERSION</string>
	<key>CFBundleShortVersionString</key>
	<string>TOMAHAWK_VERSION</string>
	<key>CFBundleSignature</key>
	<string>tomahawk</string>
	<key>CFBundleIconFile</key>
	<string>Tomahawk.icns</string>
	<key>CFBundleName</key>
	<string>Tomahawk</string>
	<key>LSMinimumSystemVersion</key>
	<string>10.5.0</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>NSHighResolutionCapable</key>
	<true />
	<key>SUFeedURL</key>
	<string>http://download.tomahawk-player.org/sparkle/update.php</string>
	<key>SUPublicDSAKeyFile</key>
	<string>sparkle_pub.pem</string>
	<key>SUEnableSystemProfiling</key>
	<true/>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>Tomahawk URL</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>tomahawk</string>
			</array>
		</dict>
	</array>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>xspf</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>Generic.icns</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>application/xspf+xml</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>XSPF Playlist</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
	</array>
</dict>
</plist>
