[Desktop Entry]
Type=Application
Version=1.0
Name=Tomahawk
GenericName=Music Player
GenericName[de]=Musik Player
GenericName[fi]=Musiikkisoitin
TryExec=tomahawk
Exec=tomahawk %u
Comment=Tomahawk - Social Music Player
Comment[fi]=Tomahawk – sosiaalinen musiikkisoitin
Icon=tomahawk
Terminal=false
Categories=Qt;AudioVideo;Audio;Player;
MimeType=x-scheme-handler/tomahawk;
